body {
    margin: 0;
    text-align: center;
    color: #40514E;
    font-family: "Merriweather", serif;
}

h1 {
    margin-top: 50px;
    font-size: 4rem;
    color: #66BFBF;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
    text-decoration: none;
}

hr {
    border-style: dotted none none;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 4%;
    margin: 100px auto;
}

p {
    line-height: 2;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px;
}

.bottom-container {
    padding: 50px 0 20px;
    background-color: #ADDDD0;
}

.top-cloud {
    position: absolute;
    top: 50px;
    left: 500px;
}

.bottom-cloud {
    position:absolute;
    right: 500px;
    bottom: 300px;
}

.skills-container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.skill-row {
    width:40%;
    margin: 50px auto;
    text-align: left;
}

.skill-row-top {
    margin: 100px auto 50px auto;
}

.skill-row-bottom {
    margin: 50px auto 0px auto;
}

.mountain {
    width: auto;
}

.skill-img {
    width: 100px;
    height: 100px;
}

.left-img {
    float: left;
    margin-right: 50px;
}

.right-img {
    float: right;
    margin-left: 50px;
}

.skill-text {
   padding-top: 5%;
}

.text-right {
    text-align: right;
}

.project-row {
    width:50%;
    margin: 50px auto;
    text-align: left;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.resume {
    color: #40514E;
    padding-bottom: 20px;
}

.resume-color {
    color: #40514E;
    font-family: 'Montserrat', sans-serif;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
}

.a-footer {
    margin: 10px 20px;
}

.a-footer:hover {
    color: #EAF6F6;
}

.a-change:hover {
    color: #749F82;
    font-size: 110%;
}

.body-color {
    color: #40514E;
}
